/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
    background-color: lightgray;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


div.park-home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

    div.park-home img {
        max-width: 100%;
        min-width: 300px;
    }

    div.park-home div {
        padding: 8px;
    }

/*.alert {
    background-color: lightyellow;
    color: brown;
    padding: 7px 10px;
    border-radius: 5px;
    box-shadow: brown 5px 5px;
}*/

.survey-form span {
    color: red;
}

div.park-detail {
    max-width: 80%;
}

    div.park-detail img {
        max-width: 100%;
        min-width: 80%;
    }

div.detail-weather {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    margin-bottom: 10px;
}

    div.detail-weather img {
        flex-basis: 100px;
        max-width: 100px;
        margin-bottom: 8px;
    }

    div.detail-weather p.recommendation {
        max-width: 100px;
        text-align: center;
    }

div.detail-buttons {
    display: flex;
    justify-content: left;
}


.temp-high {
    /*background-color: red;*/
    color: orangered;
}

.temp-low {
    /*background-color: blue;*/
    color: cornflowerblue;
}

.temps-holder {
    background-color: ghostwhite;
}

.weather-container {
    background-color: whitesmoke;
    padding: 3px;
    border-radius: 4%;
}

.thumbs-up {
    color: deepskyblue;

}
